<main>
  <div class="mt-10 w-80 mx-auto border-solid border-gray-400 border rounded">
    <div class="mb-3 p-3">
      <input
        [(ngModel)]="isActivate"
        name="isAcitvate"
        class="mr-3 cursor-pointer"
        type="checkbox"
        id="txtIsACtive"
      />
      <label for="txtIsACtive" class="cursor-pointer">Is active</label>
    </div>
    <section *ngIf="isActivate; else message">
      <div class="bg-slate-300">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
          alt=""
        />
      </div>
      <div class="p-6 bg-white">
        <h3 class="my-3 text-2xl">Angular</h3>
        <p class="text-slate-500">
          Angular es un framework para aplicaciones web desarrollado en
          TypeScript de código abierto, mantenido por Google, que se utiliza
          para crear y mantener aplicaciones web de una sola página.
        </p>
      </div>
    </section>
    <ng-template #message>
      <section class="p-6 bg-white text-slate-500">
        <p>Activa el checkbox para mostrar el contenido</p>
      </section>
    </ng-template>
  </div>
</main>
